* {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #111b21;
    color: white;

}
nav {
    background-color: rgb(9, 45, 51); 
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    justify-content: space-between;

}
.nav-link {
    color:white; 
    /* color: rgb(23, 23, 53); */
    font-size: 18px;
    text-decoration: none;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-top:10px ;
    /* border: 1px solid black; */

}  
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:20px
    /* border: 1px solid black; */

}  
/* .nav-link:hover {
    color: white; 
} */
.main{
    color:white;
    font-size: 30px;
    /* padding-left: 100px; */
    text-align: left;  
    /* width: 500px; */
    /* border: 1px solid black; */

}

    


.social-icons {
    display: flex;
    gap: 30px;
    margin-left: 45px;
    justify-content: center;
    
  }
  .social-icons a {
    color: white;
    font-size: 1.5rem;

    /* transition: color 0.3s ease; */
  }
  .social-icons a:hover {
    /* color: #007bff; */
    filter: drop-shadow(0px 0px 15px white );

}
.profile-pic{
    padding: 20px 70px;

}
.profile-pic>img{
    width: 300px;
    height: 500px;
    border-radius: 50%;
}
/* .content{
    border: 1px solid black; 
    display: flex;
    flex-direction: row;
    margin:  50px 100px ;
    /* background-color:#148f77 ; 
    border-radius: 20px;
    box-shadow: 5px 15px 5px grey;
    background-color: rgb(224, 209, 238);
    
    
} */
 .circle{
    
    height: 480px;
    width: 480px;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    padding-top: 70px;
    box-shadow:  10px 10px 10px 10px rgb(34, 135, 153);
    
 }
 #home{
    padding-top: 90px;
    padding-bottom: 60px;
 }
 .hamburger {
    font-size: 30px;
    cursor: pointer;
    display: none;
}
/* .heading{
    width: 50%;
    padding: 50px ;
    padding-bottom: 10px;
    /* line-height: 30px; */
    /* font-size: 20px; */
    /* border: 1px solid white; */
    
 
.heading>h5{
    /* color: grey; */
    font-size: 15px;
    /* line-height: 20px; */
    margin: 20px;

}
.heading>.intro{
    font-size: 30px;
    margin: 20px;

}
.heading>p{
    margin: 30px;
    font-size: 20px;
    
} 
.hire-btn{
    font-size: 20px;
    padding: 5px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color:rgb(34, 135, 153);
    box-shadow: 2px 5px 2px black ;
}
.hire-btn:hover{
    font-size: 25px;
    color:rgb(34, 135, 153);
    background-color: white;
}

.name:hover{
    font-size: 40px;
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff;
    
}  
#about{
    /* padding: 10px 140px; */
    display: flex;
    flex-wrap: wrap;
    padding: 20px;

} 
.pic-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */

}
.pic-div>img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.pic-div>p{
    padding: 20px 50px;
    font-size: 20px;
}
.box{
    
    /* padding :50px 100px; */
    box-shadow:  10px 5px 10px 5px rgb(34, 135, 153);
    /* display: flex;
    flex-wrap: wrap; */
    padding: 50px;
    /* justify-content: center; */

    
}
.box>h3{
    font-size: 35px;
    padding-bottom: 20px;
}
.box>h5{
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 300;
}
.box>p{
    
    font-size: 18px;
    padding-bottom: 20px;
    /* text-align: center; */
    /* justify-content: center; */
}
.box>button{
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color:  rgb(34, 135, 153);
    color: white;
    border: none;
    box-shadow: 2px 5px 2px black ;
}

#skills{
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    gap: 20px;
    text-align: center;
    box-shadow:  10px 5px 10px 5px rgb(34, 135, 153);
    margin: 20px 40px;
    padding: 20px;
    display: block;

}
#skills>img{
    height: 130px;
    width: 130px;
    /* border-radius: 50%; */
}
#projects{

    padding:  10px 50px;
    display:grid;
    grid-template-rows: repeat(3,1fr);
    justify-content: space-between;

    

}
.project-heading{
    font-size: 40px;

    margin: 50px;
    text-align: center;

}
.project{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* gap:90px; */
    margin: 20px 0px;
    padding: 0px 20px;
    box-shadow:  10px 5px 10px 5px rgb(34, 135, 153);
    justify-content: space-between;
    /* width: 100%; */

} 

.left>h3{
    text-align: left;
    padding: 20px;
}
.left>p{
   
    padding: 20px;
}
.right{
    text-align: center;
    /* overflow: hidden; */
    cursor: pointer;

}
.right>img{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    transition: 1s ease;
    margin-top: 20px;


}

#contact{
     text-align: center;
     display: flex;
     flex-direction: column;
     gap: 20px;
     padding: 20px;
    
}
#contact>ul{
    display: flex;
    flex-direction: column;
    padding: 20px 80px;
    margin: 0px 50px;
    list-style: none;
    gap: 10px;
}
#contact>ul>li>a{
    color: antiquewhite;
}
.para>h3{
    text-align: center;
    font-size: 30px;
    padding:25px 0px; 
}
.para>h5{
    padding-left: 20px;
    font-size: 20px;
}
.para>p{
    padding:20px ;
    font-size: 20px;
}
.para>h6{
    font-size: 15px;
    padding: 5px 20px;
}
.para{
    padding: 30px;
    width: 50%;
}
.btn-div{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}
.btn-div>button{
    font-size: 20px;
    padding:  5px 20px;
    background-color:rgb(112, 182, 230);
    border: none;
    border-radius: 10px;
}
.btn-div>button>a{
    text-decoration: none;
    color: black;
    

}
.form{
    width:50%;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 30px;

}
.form>input,.textbox{
    width: 100%;
    padding: 15px 30px;
    background-color: rgb(186, 210, 219);
    font-size: 15px;
    border-radius: 10px;
    border: none;
    /* box-shadow:  5px 2px 5px 2px grey; */

}
.message{
    overflow: scroll;
    /* height: 200px; */
    padding:20px 30px  ;
    
}

.form>button{
    width: 100%;
    padding: 5px ;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    box-shadow:  2px 5px 2px   rgb(186, 210, 219);
    background-color:  rgb(34, 135, 153);
    
}
#footer{
    text-align: center;
    padding: 30px;
    /* background: linear-gradient(rgb(169, 168, 214) rgb(67, 67, 173)); */
    box-shadow:  10px 5px 10px 5px rgb(34, 135, 153);
    margin: 15px;
    font-size: 20px;
}
/* here */


/* Hamburger Icon */
.hamburger {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}




@media (max-width: 1768px){
    .hamburger{
        display: none;
    }
    
}

/* @media(max-width:968px){
    .hamburger{
        display: flex;
    }
    .nav-link{
        display: none;
    }
    #abount{
        padding-left: 10px;

    }
    .box{
        overflow: scroll;
        height: 500px;
        width:300px ;
        padding: 40px 10px;
    }
    .p1,.p2,.p3{
        display: flex;
        flex-direction: column;
        
        
        
    }
    #skills{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .nav-links.active {
        display: flex;
    }


} */
@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        /* background: #333; */
        background:   rgb(9, 45, 51); ;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 15px 0;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }
    #skills{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .project{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 480px){
    .hamburger{
        display: flex;
    }
    #skills{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
}
